<div ng-controller="Inside_Create_TaskController as inside">
	<script type="text/ng-template" id="group-template.html">
	  <div class="panel-heading">
	    <h5 class="panel-title" style=" font-size:13px;">
	      <a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading">
	        <span uib-accordion-header ng-class="{'text-muted': isDisabled}">
	          {{heading}}
	        </span>
	      </a>
	    </h5>
	  </div>
	  <div class="panel-collapse collapse" uib-collapse="!isOpen">
	    <div class="panel-body" style="text-align: left" ng-transclude></div>
	  </div>
	</script>
	<span><a ng-click="inside.load_create_task()">Your Tasks Created</a></span>
	<span class="glyphicon glyphicon-plus text-primary pull-right" ng-click="inside.addTask()"></span>
	<uib-accordion close-others="true">
	  <div uib-accordion-group is-open="status.open" class="panel-default" ng-repeat="task in $root.create_tasks" template-url="group-template.html">
	    <uib-accordion-heading>
	    	<div class="row" ng-click="loadMessage(task); inside.disable_EditBtn();">
	    		<span class="col-xs-6 col-sm-5 col-md-5">Task : <%task.name%></span>
	    		<span class="col-xs-6 col-sm-3 col-md-3">Due :  <%getD(task.due_date) | date:'EEE MMM d, y h:mm a'%></span>
	    		<span class="col-xs-6 col-sm-2 col-md-2">
	    			<span class="progress-bar progress-bar-success progress-bar-striped" 
	    				aria-valuenow="<%task.progress%>" 
	    				aria-valuemin="0" 
	    				aria-valuemax="100" 
	    				ng-style="task.progress === 0 ? {'color':'red' } : { 'color': '#eee' }"
	    				style="width:<%task.progress%>%;">
	    				<%task.progress%>%
	    			</span>
	    		</span>
	    		<span class="col-xs-6 col-sm-2 col-md-2 pull-right">
	    			<a class="pull-right glyphicon glyphicon-remove" ng-click=" inside.remove(task,$event);"></a>
	    		</span>
	    	</div>
	    </uib-accordion-heading>
	    <div class="row container">
	    	<div id="left_task_info" 
	    		class="col-xs-6 col-sm-6 col-md-3" 
	    		ng-mouseenter="edits=true" 
	    		ng-mouseleave="edits=false">
	    		<p class="form-inline">
	    			Assigned To: 	
	    			<b ng-show="!inside.editStatus || !edits"><%task.assignName%></b>
	    			<select ng-show="inside.editStatus && edits" class="form-control" ng-model="inside.assigned_to">
	    			  <option ng-repeat="user in $root.usersacc" value="<%user.id%>"><%user.name%></option>
	    			</select>
	    			<a ng-show="edits" ng-click="inside.confirm_editTask(task)" class="pull-right glyphicon glyphicon-ok" title="Confirm Edit "></a><span>&nbsp;&nbsp;</span>
	    			<a ng-show="edits" ng-click="inside.editTask(task)" class="pull-right glyphicon glyphicon-edit" title="Edit Info"></a>
	    		</p>
	    		<p class="form-inline">Project: 		
	    			<b ng-show="!inside.editStatus || !edits"><%task.project_name%></b> 
	    			<input ng-show="inside.editStatus && edits" class="form-control input-sm" ng-model="inside.project_name" size="8">
	    		</p>
	    		<p class="form-inline">Priority: 		
	    			<span ng-show="!inside.editStatus || !edits"><%task.priority%></span>
	    			<select ng-show="inside.editStatus && edits" 
	    				class="form-control" 
	    				ng-model="inside.priority" 
	    				style="max-width:60%;">
	    			  	<option value="High">High</option>
	    			  	<option value="Medium">Medium</option>
	    			  	<option value="Low">Low</option>
	    			</select>
	    		</p>
	    		<p 	ng-show="inside.editStatus && edits" 
	    			class="form-inline">
	    			Reschedule: <input type="datetime-local" class="form-control input-sm" ng-model="inside.due_date">
	    		</p>
	    		<p>Created: 		<span><%getD(task.created_at) | date:'MMM d, y h:mm a'%></span></p>
	    		<p>Updated: 		<span><%getD(task.updated_at) | date:'MMM d, y h:mm a'%></span></p>
	    	</div>
	    	<div id="right_task_info" class="col-xs-12 col-sm-12 col-md-9">
	    		<div class="row">
		    		<div class="container-fluid">
		    			<div id="task_jumbo" 
		    				 class="jumbotron" 
		    				 ng-class="{'window_sm': width < 992, 
									'window_lg': width >= 992 }">
		    				<div  class="col-xs-12 col-sm-12 col-md-4">
		    					<div id="task_msgs1" class="row">
			    					<p id="task_description" 
			    						ng-mouseenter="editDes=true" 
	    								ng-mouseleave="editDes=false">
			    						<b>Description:</b> 
			    						<a ng-show="editDes" ng-click="inside.confirm_editDesTask(task)" class="pull-right glyphicon glyphicon-ok" title="Confirm Edit "></a><span>&nbsp;&nbsp;</span>
	    								<a ng-show="editDes" ng-click="inside.editDesTask(task)" class="pull-right glyphicon glyphicon-edit" title="Edit Info"></a>
			    						<br>
			    						<span ng-show="!inside.editDesStatus || !editDes"><%task.description%></span>
			    						<textarea ng-show="inside.editDesStatus && editDes" ng-model="inside.description" class="form-control" rows="4"></textarea>
			    					</p>
			    					<div>
				    					<span for="in_msg"><a ng-click="loadMessage(task)">Message:</a></span>
				    					<input type="text" id="in_msg" 
				    					ng-model="$root.msg_content" 
				    					ng-keypress="($event.charCode==13)?inside.sendMessage(task,$event):return"
				    					class="form-control" 
				    					aria-describedby="helpBlock">
			    					</div>
		    					</div>
		    				</div>
		    				<div id="task_msgs2" class="col-xs-12 col-sm-12 col-md-8">
		    					<div class="row" ng-repeat="msg in $root.task_msg">
									<span ng-class="{'msg_left': msg.sender_id != task.creater_id, 
									'msg_right': msg.sender_id == task.creater_id }">
										<%msg.content%>
									</span>
		    					</div>
		    				</div>
		    			</div>
		    		</div>
	    		</div>
	    	</div>
	    </div>
	  </div>
	</uib-accordion>
</div>