#sidebar ul li {
	color: #31708f;
	list-style: none;
	font-size: 16px;
	padding: 15px 10px;
	border-bottom: 1px solid #e7e7e7;
}

#sidebar .toggle-btn {
	position: absolute;
	left: 20px;
	top: 10px;
}

#sidebar .toggle-btn span {
	display: block;
	width: 21px;
	height: 3px;
	background: #777;
	margin: 4px 0px;
}

#subMenu {
	position: fixed;
	width: 200px;
	margin-top: 36px;
	height: 100%;
	background-color: #f8f8f8;
	border-color: #e7e7e7;
	padding: 0px 0px 0px 20px;
	left:-200px;
	transition: all 500ms linear;
	
}

#subMenu.active {
	left: 0px;
}
/*
#left_task_info {
	padding: 0px;
}
#right_task_info {
	padding: 0px;
}*/

/* CSS for Message chats */
#task_jumbo {
	padding: 10px; 
}

#task_jumbo .jumbotron, .window_sm {
	color: blue; 
	min-height: 400px;
}

#task_jumbo .jumbotron, .window_lg {
	color: red;
	min-height: 200px;
}

/* CSS for Message Left chats */
#task_msgs1 {
	padding-right: 5px;
}

#task_description {
	height: 110px; overflow-y:auto; font-size: 14px;
}
#in_msg {
	margin-bottom: 10px;
	border: none; 
}
/* CSS for Message Right chats */
#task_msgs2  {
	background-color: white; border-radius: 3px; height: 180px; padding: 5px; overflow-y:auto;
}

#task_msgs2 div {
	width: 100%; padding: 10px 0px 5px 20px; 
}
#task_msgs2 div span {
	 border-radius: 10px; max-width: 65%; font-size: 14px; font-weight: 10px; padding: 5px 20px 5px 20px;
}

#task_msgs2 .msg_left {
	float: left;
	background-color: #eee;
}
#task_msgs2 .msg_right {
	float: right;
	background-color: #5bc0de;
	color: white;
}