<div ng-controller="Inside_TaskController as inside">
	<div class="panel panel-default">
		<div class="panel-heading">
			<span><a ng-click="inside.loadTask()">List All Task</a></span>
			<span class="glyphicon glyphicon-plus text-primary pull-right" ng-click="inside.addTask()"></span>
		</div>
		<div class="table-responsive">
			<table class="table table-striped">
				<tr>
					<th>Task Name</th>
					<th>Creater</th>
					<th>Assign To</th>
					<th>Project</th>
					<th>Due Date</th>
					<th>Description</th>
					<th>Status</th>
					<th></th>
				</tr>
				<tr><td colspan="8"><h5>Admin</h5></td></tr>
				<tr ng-repeat="task in $root.tasks['admin']">
					<td ng-bind="task.name"></td>
					<td ng-bind="task.creater_name"></td>
					<td ng-bind="task.assignName"></td>
					<td ng-bind="task.project_name"></td>
					<td ng-bind="task.due_date"></td>
					<td ng-bind="task.description"></td>
					<td ng-bind="task.status"></td>
					<td><a ng-show="'<%task.status%>' !='Complete'" ng-click="inside.complete(task)" title="Make Complete"><span class="glyphicon glyphicon-ok"></span></a>
						<a ng-click="inside.remove(task)" title="Remove"><span class="glyphicon glyphicon-remove"></span></a>
						<a ng-click="inside.edit(task)" title="Edit"><span class="glyphicon glyphicon-edit"></span></a>	
					</td>
				</tr>
				<tr><td colspan="8"><h5>User</h5></td></tr>
				<tr ng-repeat="task in $root.tasks['user']">
					<td ng-bind="task.name"></td>
					<td ng-bind="task.creater_name"></td>
					<td ng-bind="task.assignName"></td>
					<td ng-bind="task.project_name"></td>
					<td ng-bind="task.due_date"></td>
					<td ng-bind="task.description"></td>
					<td ng-bind="task.status"></td>
					<td><a ng-show="'<%task.status%>' !='Complete'" ng-click="inside.complete(task)" title="Make Complete"><span class="glyphicon glyphicon-ok"></span></a>
						<a ng-click="inside.remove(task)" title="Remove"><span class="glyphicon glyphicon-remove"></span></a>
						<a ng-click="inside.edit(task)" title="Edit"><span class="glyphicon glyphicon-edit"></span></a>	
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>