<div ng-controller="InsideUserAccController as inside">
	<div class="panel panel-default">
		<div class="panel-heading">
			<span><a ng-click="$parent.loadUser()">List All User Account</a></span>
			<span class="pull-right" ng-click="inside.addUserAccount()"><span class="glyphicon glyphicon-plus text-primary"></span></span>
		</div>
		<div class="table-responsive">
			<table class="table table-striped">
				<tr>
					<th>Name</th>
					<th>Email</th>
					<th></th>
				</tr>
				<tr ng-repeat="user in $root.usersacc">
					<td ng-bind="user.name"></td>
					<td ng-bind="user.email"></td>
					<td><a ng-click="inside.remove(user)"><span class="glyphicon glyphicon-remove"></span></a>
						<a ng-click="inside.edit(user)"><span class="glyphicon glyphicon-edit"></span></a>	
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>